= form_for @team, url: {controller: "teams", action: action }, html: {class: "team_form"} do |f|
  = f.label :title, t(:title)
  = f.text_field :title, placeholder:'タイトル'

  = f.label :rank_id
  %br/
  = f.collection_check_boxes :rank_ids, @ranks, :id, :name do |r|
    = r.label do
      = r.check_box
      %span= r.text

  %br/
  = f.label :summoner, t(:summoner_name)
  = f.text_field :summoner_name, placeholder:'サモナー名'

  = f.label :game_type, t(:game_type)
  %br/
  = f.collection_check_boxes :game_type_ids, @game_types, :id, :name do |r|
    = r.label do
      = r.check_box
      %span= r.text

  %br/
  = f.label :lane, t(:lane)
  %br/
  = f.collection_check_boxes :lane_ids, @lanes, :id, :name do |r|
    = r.label do
      = r.check_box
      %span= r.text

  %br/
  = f.label :discord, t(:discord)
  = f.text_field :discord, placeholder:'Discord ID'
  = f.label :skype, t(:skype)
  = f.text_field :skype, placeholder:'Skype ID'
  = f.label :body, t(:body)
  = f.text_area :body, placeholder:'メッセージ'
  = f.label :password, t(:password)
  = f.password_field :password, placeholder:'パスワード'

  - if action == "create"
    = f.submit "募集する", class: "waves-effect waves-light btn"
  - else
    = f.submit "更新する", name: 'update', class: "waves-effect waves-light btn"
    = f.submit "削除する", name: 'destroy', class: "waves-effect waves-light btn"