- @teams.each do |team|
  .team
    .listing-card-team
      %ul.collection-team
        %li.collection-team.avatar
          .team-header
            .team-title
              = team.title

          .team-body
            .summoner_name
              %strong= t(:summoner_name)
              %br/
              %a{ href: "https://jp.op.gg/summoner/userName=#{team.summoner_name}" } #{ team.summoner_name }

            %br/
            %span.rank
              %br/
              %strong= t(:rank)
              %br
              - team.rank_ids.map do |r|
                .chip
                  = @ranks.find(r).name

            %br/
            %span.game_type
              %br/
              %strong= t(:game_type)
              %br
              - team.game_type_ids.map do |g|
                .chip
                  = @game_types.find(g).name

            %br/
            %span.champion
              %br/
              %strong= t(:champion)
              %br
              - team.champion_ids.map do |c|
                .chip
                  = @champions.find(c).name

            - if team.discord?
              %br/
              %span.discord
                %br/
                %strong= t(:discord)
                %br/
                = team.discord

            - if team.skype?
              %br/
              %span.skype
                %br/
                %strong= t(:skype)
                %br/
                = team.skype

            %br/
            %span.body
              %br/
              %strong= t(:body)
              %br/
              = team.body

            .card-action
              = link_to"詳細", "teams/#{team.id}"
