<div class="col s10 offset-s1 center-align">
  <a href= '/teams/new' class="waves-effect waves-light btn-large">募集する</a>
</div>

<% @teams.each do |team| %>
  <div class="row">
    <div class="col s12 m5">
      <div class="card blue-grey darken-1">
        <ul class="collection">
        <li class="collection-item avatar">
          <img src="images/yuna.jpg" alt="" class="circle">
          <br>
          <span class="title">
            <%= team.title %>
          </span>
          <span class="summoner_name"><br>
            <strong><%= t(:summoner_name) %></strong><br>
            <%= team.summoner_name %>
          </span>
          <span class="game_type"><br>
            <strong><%= t(:game_type) %></strong><br>
            <%= team.game_type %>
          </span>
          <span class="discord"><br>
            <strong><%= t(:discord) %></strong><br>
            <%= team.discord %>
          </span>
          <span class="skype"><br>
            <strong><%= t(:skype) %></strong><br>
            <%= team.skype %>
          </span>
          <span class="body"><br>
            <strong><%= t(:body) %></strong><br>
            <%= team.body %>
          </span>
          <div class="card-action">
            <%= link_to"詳細", "teams/#{team.id}" %>
          </div>
        </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>