= form_for @team, url: {controller: "teams", action: "create"}, html: {class: "team_form"} do |f|
  = f.label :title, t(:title)
  = f.text_field :title

  = f.label :rank_id
  %br/
  = f.collection_check_boxes :rank_ids, @ranks, :id, :name do |r|
    = r.label { r.check_box + r.text }

  %br/
  = f.label :summoner, t(:summoner)
  = f.text_field :summoner_name
  = f.label :game_type, t(:game_type)
  %br/
  - game_type = %w(Normal Rank Random TFT)
  - game_type.each do |g|
    = f.check_box :game_type, {multiple: true}, g, nil
    %span= f.label :game_type, g
  %br/
  = f.label :discord, t(:discord)
  = f.text_field :discord
  = f.label :skype, t(:skype)
  = f.text_field :skype
  = f.label :body, t(:body)
  = f.text_area :body
  = f.label :password, t(:password)
  = f.password_field :password
  = f.submit "募集する",  class: "waves-effect waves-light btn"
