<ul class="collection">
  <li class="collection-item avatar">
    <img src="images/yuna.jpg" alt="" class="circle">
    <span class="title">
      <strong><%= t(:title) %></strong><br>
      <%= @team.title %>
    </span>
    <span class="summoner_name"><br>
      <strong><%= t(:summoner_name) %></strong><br>
      <%= @team.summoner_name %>
    </span>
    <span class="game_type"><br>
      <strong><%= t(:game_type) %></strong><br>
      <%= @team.game_type %>
    </span>
    <span class="discord"><br>
      <strong><%= t(:discord) %></strong><br>
      <%= @team.discord %>
    </span>
      <span class="skype"><br>
        <strong><%= t(:skype) %></strong><br>
        <%= @team.skype %>
    </span>
    </span>
      <span class="body"><br>
        <strong><%= t(:body) %></strong><br>
        <%= @team.body %>
    </span>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
</ul>