.row
  .col.s12.m5
    .card.blue-grey.darken-1
      %ul.collection
        %li.collection-item.avatar
          %img.circle{:alt => "", :src => "images/yuna.jpg"}/
          %br/
          %span.title
            = @team.title

          %br/
          %span.rank
            %br/
            %strong= t(:rank)
            %br/
            - @ranks.each do |r|
              .chip
                = r

          %br/
          %span.summoner_name
            %br/
            %strong= t(:summoner_name)
            %br/
            = @team.summoner_name

          %br/
          %span.game_type
            %br/
            %strong= t(:game_type)
            %br/
            - @game_types.each do |g|
              .chip
                = g

          %br/
          %span.champions
            %br/
            %strong= t(:champion)
            %br/
            - @champions.each do |c|
              .chip
                = c

          %br/
          %span.discord
            %br/
            %strong= t(:discord)
            %br/
            = @team.discord

          %br/
          %span.skype
            %br/
            %strong= t(:skype)
            %br/
            = @team.skype

          %br/
          %span.body
            = @team.body

          .card-action
            %li.comment-create
              .text-left.title= 'レビュー'
            %li#comments_area
              = render partial: 'comments/index', locals: { comments: @comments }

            %li.comment-create
              .text-left= 'レビューを投稿する'
            %li.comment_form
              = render partial: 'comments/form', locals: { comment: @comment, team: @team }



            = link_to"編集", edit_team_path
