!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LoLの友達が見つかる掲示板 - LoL-VC
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

  %body
    %nav
      .nav-wrapper
        %a.brand-logo{href: "/"} LoLVC
        %ul.right.hide-on-med-and-down
          %li
            %a{href: "sass.html"}
              %i.material-icons search
          %li
            %a.waves-effect.waves-light.btn-large{href: "/teams/new"} 募集する
          %li
            %a{onclick: "window.location.reload();"}
              %i.material-icons refresh
          %li
            %a{href: "mobile.html"}
              %i.material-icons more_vert
    = render 'layouts/flash'
    = yield
